# SPDX-FileCopyrightText: 2021 Robin Vobruba <hoijui.quaero@gmail.com>
#
# SPDX-License-Identifier: Unlicense

[submodule "data/file-extension-list"]
	path = data/file-extension-list
	url = https://github.com/hoijui/file-extension-list.git
