# SPDX-FileCopyrightText: 2021 Robin Vobruba <hoijui.quaero@gmail.com>
#
# SPDX-License-Identifier: Unlicense

[submodule "resources/file-extension-list"]
	path = resources/file-extension-list
	url = https://github.com/hoijui/file-extension-list.git

[submodule "resources/osh-file-types"]
	path = resources/osh-file-types
	url = https://gitlab.com/OSEGermany/osh-file-types.git
