/*
SPDX-FileCopyrightText: 2022 Robin Vobruba <hoijui.quaero@gmail.com>

SPDX-License-Identifier: CC0-1.0
*/

th {
    border-top: 2px solid #1a1a1a;
    border-bottom: 2px solid #1a1a1a;
}
td {
    border-top: 1px solid #1a1a1a;
}
body {
    max-width: 360em;
}
